.slider-related {
  display: flex;
  justify-content: space-between;
}

.slider-related .shop-card {
  width: calc((100% - 60px) / 4);
}

@media (max-width: 599px) {
  .slider-related .shop-card {
    width: calc((100% - 20px) / 2);
  }
}

@media ((min-width: 600px) and (max-width: 1024px)) {
  .slider-related .shop-card {
    width: calc((100% - 40px) / 3);
  }

  .slider-related .shop-card:last-child {
    display: none;
  }
}

@media (max-width: 767px) {
  .slider-related .shop-card .shop-card-body p {
    font-size: 14px;
  }

  .slider-related .shop-card .shop-card-body .stars li {
    font-size: 14px;
  }
}
